body {
    background-color: rgb(255, 254, 243) !important;
    font-family: 'Poppins', sans-serif !important;
}

.card {
    border-radius: 8px !important;
    min-width: 300px !important;
    margin-bottom: 3vh !important;
    border: 0 !important;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2) !important;
}

#card1 {
    width: 100%;
    padding: 30px 30px;
    border-radius: 8px;
    background: linear-gradient(rgb(252, 250, 229), rgb(252, 250, 229) 50%, rgb(213, 247, 234) 50%, rgb(236, 245, 193) 75%, rgb(254, 226, 184));
    background-size: 100% 200%;
    transition: all 0.2s ease;
    position: relative;
    animation: down-bump 0.2s ease;
}

#card1:hover {
    background-position: 100% 100%;
    animation: up-bump 0.2s ease;
    padding: 28px;
}

#card2 {
    width: 100%;
    padding: 30px 30px;
    border-radius: 8px;
    background: linear-gradient(rgb(252, 250, 229), rgb(252, 250, 229) 50%, rgb(213, 233, 247) 50%, rgb(214, 215, 246) 76%, rgb(228, 212, 250) 90%, rgb(230, 199, 252));
    background-size: 100% 200%;
    transition: all 0.2s ease;
    position: relative;
    animation: down-bump 0.2s ease;
}

#card2:hover {
    background-position: 100% 100%;
    animation: up-bump 0.2s ease;
    padding: 28px;
}


@keyframes up-bump {
    0% { padding-top: 30px; }
    100% { padding-top: 28px; }
}
@keyframes down-bump {
    0% { padding-top: 28px; }
    100% { padding-top: 30px; }
}

#first-page {
    height: 100vh;
}