html {
  scroll-behavior: smooth;
}

#picSlides {
  margin-top: 5vh;
  float: left;
  width: 100%;
  height: auto;
  object-fit: scale-down;
  overflow: hidden;
}

/* CSS background from alvarotrigo */

.text-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
  
.text-container h1{
    font-size: 150px;
    color: rgba(225,225,225, .01);
    /*Image from lovepik!*/
    background-image: url("https://img.lovepik.com/background/20211021/large/lovepik-color-gradient-background-image_400078872.jpg");
    background-repeat: repeat;
    -webkit-background-clip:text;
    animation: animate 15s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 150px;
  }
  
  @keyframes animate {
      0%, 100% {
        background-position: left top;
      }
      25%{
        background-position: right bottom;
       }
      50% {
        background-position: left bottom;
      }
      75% {
        background-position: right top;
  }   
}

@media only screen and (max-width: 820px) {
    .text-container {
        display: none;
    }
}

/*Down arrow from unused-css*/

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 40px;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    z-index: 9;
    left: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation:    fade_move_down 4s ease-in-out infinite;
    animation:         fade_move_down 4s ease-in-out infinite;
}
  
  
  /*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0, -8px) rotate(45deg); opacity: 1;  }

    50% { -webkit-transform:translate(0, 8px) rotate(45deg); opacity: 1; }

    100%   { -webkit-transform:translate(0, -8px) rotate(45deg); opacity: 1;  }
}
@-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0, -8px) rotate(45deg); opacity: 1;  }

    50% { -moz-transform:translate(0, 8px) rotate(45deg); opacity: 1; }

    100%   { -webkit-transform:translate(0, -8px) rotate(45deg); opacity: 1;  }
}
@keyframes fade_move_down {
    0%   { transform:translate(0, -8px) rotate(45deg); opacity: 1;  }

    50% { transform:translate(0, 8px) rotate(45deg); opacity: 1; }

    100%   { -webkit-transform:translate(0, -8px) rotate(45deg); opacity: 1;  }
}

  