@media only screen and (max-width: 819px) {
  body {
    background-color: white;
  }

  #loading-text {
    display: none;
  }
}

@media only screen and (min-width: 820px) {
  /* Flashlight Overlay */
  body {
    background-image: linear-gradient(
      180deg,
      black,
      rgb(41, 40, 40),
      rgb(99, 98, 98),
      rgb(156, 155, 155),
      rgb(228, 228, 228),
      white 100vh,
      white,
      white
    );
  }
  html {
    --cursorX: 50vw;
    --cursorY: 50vh;
  }
  html:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    background: radial-gradient(
      circle 20vmax at var(--cursorX) var(--cursorY),
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 80%,
      rgba(0, 0, 0, 0.75) 100%
    );
  }

  /**Loading Screen CSS **/
  #loading-screen {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out;
    opacity: 1;
  }

  #loading-text {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    position: fixed;
    margin: auto;
  }

  .fractal {
    margin: auto;
    width: 200px;
    height: 200px;
    border: 2px dotted white;
    animation: fractal 2s infinite;
  }

  @keyframes fractal {
    0% {
      transform: scale(1);
      rotate: 0deg;
    }
    50% {
      transform: scale(3);
      rotate: 360deg;
    }
    100% {
      transform: scale(1);
      rotate: 720deg;
    }
  }
}

/*Image Gallery CSS*/
#picSlides {
  width: 100%;
  height: auto;
  object-fit: scale-down;
  overflow: hidden;
}

/* CSS background inspired from alvarotrigo */
.text-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container h1 {
  font-size: 150px;
  color: rgba(241, 233, 151, 0.01);
  background-image: url("https://images.unsplash.com/photo-1636728557326-5d78e0abfe13?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1228&q=80");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 150px;
}

@keyframes animate {
  0%,
  100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}

/*Only show the beginning screen if large enough to handle*/
@media only screen and (max-width: 820px) {
  .text-container {
    display: none;
  }
}

/*Animated down scroll arrow modified from unused-css*/
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 40px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 16px;
  height: 16px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation: fade_move_down 4s ease-in-out infinite;
  animation: fade_move_down 4s ease-in-out infinite;
}

@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -8px) rotate(45deg);
    opacity: 1;
  }

  50% {
    -webkit-transform: translate(0, 8px) rotate(45deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, -8px) rotate(45deg);
    opacity: 1;
  }
}
@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -8px) rotate(45deg);
    opacity: 1;
  }

  50% {
    -moz-transform: translate(0, 8px) rotate(45deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, -8px) rotate(45deg);
    opacity: 1;
  }
}
@keyframes fade_move_down {
  0% {
    transform: translate(0, -8px) rotate(45deg);
    opacity: 1;
  }

  50% {
    transform: translate(0, 8px) rotate(45deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, -8px) rotate(45deg);
    opacity: 1;
  }
}

/*Social Media Logos*/
.fa {
  padding-top: 25px;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-right: 5px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
  color: white;
}

.fa-github {
  background: black;
}

/** INTRO SECTION STYLING **/
.intro-component {
  border-radius: 8px;
  min-width: 300px;
  margin-bottom: 3vh;
  border: 0;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  width: 100%;
  padding: 30px 30px;
  border-radius: 8px;
}

#about-me {
  background: linear-gradient(
    rgb(252, 250, 229),
    rgb(252, 250, 229) 50%,
    rgb(213, 247, 234) 50%,
    rgb(236, 245, 193) 75%,
    rgb(254, 226, 184)
  );
  background-size: 100% 200%;
  position: relative;
}

#academics {
  background: linear-gradient(
    rgb(252, 250, 229),
    rgb(252, 250, 229) 50%,
    rgb(213, 233, 247) 50%,
    rgb(214, 215, 246) 76%,
    rgb(228, 212, 250) 90%,
    rgb(230, 199, 252)
  );
  background-size: 100% 200%;
  position: relative;
}

#writings {
  background: linear-gradient(
    rgb(252, 250, 229),
    rgb(252, 250, 229) 50%,
    rgb(247, 213, 213) 50%,
    rgb(254, 181, 181) 76%,
    rgb(255, 157, 157) 90%,
    rgb(243, 115, 115)
  );
  background-size: 100% 200%;
  position: relative;
}

#personal-links {
  background: linear-gradient(rgb(252, 250, 229), rgb(252, 250, 229) 100%);
  background-size: 100% 200%;
  position: relative;
}

#verification {
  margin-top: 3vh;
  background: linear-gradient(rgb(252, 250, 229), rgb(252, 250, 229) 100%);
  background-size: 100% 200%;
  position: relative;
}