#picSlides {
   margin-top: 5em;
   float: left;
   width: 100%;
   height: 580px;
   object-fit: scale-down;
   overflow: hidden;
}

.animation::before {  
   transform: scaleX(0);
   transform-origin: bottom right;
}

.animation:hover::before {
   transform: scaleX(1);
   transform-origin: bottom left;
}
  
.animation::before {
   content: " ";
   display: block;
   position: absolute;
   top: 0; right: 0; bottom: 0; left: 0;
   inset: 0 0 0 0;
   background: hsl(200 100% 80%);
   z-index: -1;
   transition: transform .3s ease;
}
  

/* CSS background from alvarotrigo */

.text-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
  
  .text-container h1{
    margin: 0;
    font-size: 150px;
    color: rgba(225,225,225, .01);
    /*Image from lovepik!*/
    background-image: url("https://img.lovepik.com/background/20211021/large/lovepik-color-gradient-background-image_400078872.jpg");
    background-repeat: repeat;
    -webkit-background-clip:text;
    animation: animate 15s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
  }
  
    @keyframes animate {
      0%, 100% {
        background-position: left top;
      }
      25%{
        background-position: right bottom;
       }
      50% {
        background-position: left bottom;
      }
      75% {
        background-position: right top;
      }   
  }

  @media only screen and (max-width: 1026px) {
    .text-container {
        display: none;
    }
}