body {
  background-color: rgb(255, 254, 243) !important;
  /* Attribution: https://freepngimg.com/png/35916-falling-leaves-transparent-background */
  background-image: url('leaves-falling.png');
  background-size: 100%;
  font-family: "Poppins", sans-serif !important;
}

.button {
  box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.2) !important;
  background-color: rgb(236, 245, 193) !important;
  color: rgb(54, 54, 54) !important;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:active {
  transform: scale(0.95);
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: rgb(213, 233, 247) !important;
}

.card {
  border-radius: 8px !important;
  min-width: 300px !important;
  margin-bottom: 3vh !important;
  border: 0 !important;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2) !important;
  width: 100%;
  padding: 30px 30px;
  border-radius: 8px;
}

.fall-card {
  /* background: linear-gradient(
    rgb(252, 250, 229),
    rgb(252, 250, 229) 50%,
    rgb(213, 247, 234) 50%,
    rgb(236, 245, 193) 75%,
    rgb(254, 226, 184)
  ); */
  background-color: rgb(252, 250, 229) !important;
  background-size: 100% 200%;
  transition: all 0.2s ease;
  position: relative;
}

.fall-card:hover {
  background-position: 100% 100%;
  /* padding: 32px; */
}

.spring-card {
  /* background: linear-gradient(
    rgb(252, 250, 229),
    rgb(252, 250, 229) 50%,
    rgb(213, 233, 247) 50%,
    rgb(214, 215, 246) 76%,
    rgb(228, 212, 250) 90%,
    rgb(230, 199, 252)
  ); */
  background-color: rgb(252, 250, 229) !important;
  background-size: 100% 200%;
  transition: all 0.2s ease;
  position: relative;
}

.spring-card:hover {
  background-position: 100% 100%;
  /* padding: 32px; */
}

#first-page {
  height: 100vh;
}
