@media only screen and (max-width: 819px) {
    body {
      background-color: white;
    }
  
    #loading-text {
      display: none;
    }
  }
  
  @media only screen and (min-width: 820px) {
  
    /**Loading Screen CSS **/
    #loading-screen {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: black;
      z-index: 9999;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity 0.5s ease-out;
      opacity: 1;
    }
  
    #loading-text {
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: white;
      text-align: center;
      position: fixed;
      margin: auto;
    }
  
    .fractal {
      margin: auto;
      width: 250px;
      height: 250px;
      border: 3px dotted white;
      animation: fractal 2s infinite;
    }
  
    @keyframes fractal {
      0% {
        transform: scale(1);
        rotate: 0deg;
      }
      50% {
        transform: scale(3);
        rotate: 360deg;
      }
      100% {
        transform: scale(1);
        rotate: 720deg;
      }
    }
  }

  /** SLIDER CSS */
  #slider-container {
    width: 300px;
    margin: auto;
    margin-top: 5vh;
  }

  #slider {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    position: relative;
  }

  #slider-handle {
    width: 40px;
    height: 40px;
    background-image: url('images/stick-figure.png');
    background-size: cover;
    position: absolute;
    left: -10px;
    top: -30px;
    cursor: pointer;
  }

  #slider-age {
    padding-top: 20px;
  }